<div class="block highlighted">
    <div class="block__half">
        <div class="block__type">
            <div class="block__status block__status-new">
                Новая
            </div>
            <h3>Командировка</h3>
            <div class="block__date">
                с 10.04.2017 по 14.04.2017
            </div>
        </div>
        <div class="block__create">
        <div>
            <label>Создана</label>
            13.02.2017
        </div>
    </div>
    </div>
    <div class="block__content">
        <div class="block__nav">
            <button><i class="icon-edit"></i></button>
            <button><i class="icon-delete"></i></button>
        </div>
    </div>
</div>