<div class="block">
    <div class="block__half">
        <div class="block__type">
            <div class="block__status block__status-decline">
                Отклонено
            </div>
            <h3>Отпуск</h3>
            <div class="block__date">
                с 10.04.2017 по 14.04.2017
            </div>
        </div>
        <div class="block__create">
        <div>
            <label>Создана</label>
            13.02.2017
        </div>
        <div>
            <label>Закрыта</label>
            15.02.2017
        </div>
    </div>
    </div>
    <div class="block__content">
        <div class="block__user">
            <div class="block__img">
                <i class="icon-usericon-menu"></i>
            </div>
            Андрей [координатор]
        </div>
        <div class="block__user-text few">
            Некому тебя заменить в эти дни
        </div>
    </div>
</div>