<div class="container-fluid content__holder">
    <div class="aside">
        <h2>Создать заявку</h2>
        <div class="aside__btns">
            <button class="btn">
                <i class="icon-vacations"></i>
                Отпуск
            </button>
            <button class="btn">
                <i class="icon-fired"></i>
                Увольнение
            </button>
            <button class="btn">
                <i class="icon-reference"></i>
                Справка
            </button>
            <button class="btn">
                <i class="icon-sick"></i>
                Больничный
            </button>
            <button class="btn">
                <i class="icon-lastname-change"></i>
                Смена фамилии
            </button>
            <button class="btn">
                <i class="icon-business-trip"></i>
                Командировка
            </button>
        </div>
    </div>
    <div class="content">
        <h1>
            Заявки
            <button class="content__refresh">
                <i class="icon-refresh"></i>
                Обновить
            </button>
        </h1>
        <div class="content__btn">
            <button class="btn btn-def">Создать заявку</button>
        </div>
        //= block-a.html
        //= block-b.html
        //= block-с.html
    </div>
</div>