<div class="container-fluid content__holder">
    <div class="content">
        <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-1">
            <h1>
                Заявка на отпуск
            </h1>
            <div class="content__wrapper">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="row">
                        <div class="content__row">
                            <div class="content__label">Создана</div>
                            <div class="content__created">
                                <div class="content__created-img">
                                    <i class="icon-usericon-menu"></i>
                                </div>
                                <div class="content__created-wrap">
                                    <div>Ефремов Анатолий Евстигнеевич</div>
                                    Координатор
                                </div>
                            </div>
                        </div>
                        <div class="content__row">
                            <div class="content__label">Отпуск</div>
                            <div class="content__created">
                                <div class="content__created-img">
                                    <i class="icon-usericon-menu"></i>
                                </div>
                                <div class="content__created-wrap">
                                    <div>Микитенко Ирина Александровна</div>
                                    Бухгалтер, Advanced Micro Devices
                                </div>
                            </div>
                            <div class="content__row-block">
                                <div class="content__line">Ежегодный</div>
                                <div class="content__line">пн 13.02 — пн 20.02.2017</div>
                                <div class="content__line">8 календарных дней</div>
                            </div>
                        </div>
                        <div class="content__row">
                            <div class="content__row-block">
                                <div class="content__label">Документы</div>
                                <ul class="content__upload-list">
                                    <li><i class="icon-file-icon"></i> <span>some_file_name.pdf</span> 853 kB</li>
                                    <li><i class="icon-file-icon"></i> <span>some_file_name.pdf</span> 853 kB</li>
                                </ul>
                            </div>
                        </div>
                        <div class="content__row">
                            <div class="content__row-block">
                                <div class="content__label">Комментарий автора заявки</div>
                                <div class="content__text">
                                    Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                                </div>
                            </div>
                        </div>
                        <div class="content__row">
                            <div class="content__label">Рассмотрена</div>
                            <ul class="content__consider">
                                <li>
                                    <div class="content__consider-head">
                                        <i class="icon-green-check"></i>
                                        Перваков Артем Александрович
                                    </div>
                                    <div class="content__consider-comment">
                                        <div class="content__consider-img">
                                            <i class="icon-usericon-menu"></i>
                                        </div>
                                        Таким образом рамки и место обучения кадров представляет собой интересный эксперимент.
                                    </div>
                                </li>
                                <li>
                                    <div class="content__consider-head muted">
                                        <i class="icon-waiting"></i>
                                        Ожидается второе подтверждение
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content__row">
                    <div class="content__row">
                        <div class="content__label">Комментраии</div>
                        <textarea></textarea>
                    </div>
                </div>
                <div class="content__row">
                    <div class="content__buttons">
                        <button class="btn btn-alt pull-left">Отменить</button>
                        <button class="btn btn-alt">Отклонить</button>
                        <button class="btn btn-def">Подтвердить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>