<div class="container-fluid content__holder">
    <div class="content">
        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-1">
            <h1>
                Заявка на отпуск
            </h1>
            <div class="content__wrapper">
                <div class="content__row">
                    <div class="content__row-block">
                        <div class="content__label">Тип отпуска <b>*</b></div>
                        <div class="select-holder content__vacancy">
                            <i class="icon-arrow-small"></i>
                            <select >
                                <option value="1">Ежегодный</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                    <div class="content__row-block">
                        <div class="content__label line">Остаток</div>
                        <span>24 календарных дня</span>
                    </div>
                </div>
                <div class="content__row">
                    <div class="content__row-block">
                        <div class="content__label">Даты начала и окончания отпуска <b>*</b></div>
                        <div class="input-holder content__calendar">
                            <i class="icon-date-range-icon"></i>
                            <input type="text">
                        </div>
                    </div>
                    <div class="content__row-block">
                        <div class="content__label line">Остаток</div>
                        <span class="success">24 календарных дня</span>
                    </div>
                </div>
                <div class="content__row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="content__label">Даты начала и окончания отпуска</div>
                            <div class="content__upload">
                                <input type="file">
                                <i class="icon-combined-shape"></i>
                                <div>Нажмите чтобы добавить файлы или перетащите их сюда.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content__row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="content__row">
                                <div class="content__label">Комментраии</div>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content__row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="content__buttons">
                                <button class="btn btn-alt">Отменить</button>
                                <button class="btn btn-def">Отменить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>