<div class="container-fluid content__holder">
    <div class="content">
        <div class="col-lg-2 col-md-4 col-sm-4 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
            <h1>
                Oтпуск <span>13.02.2017 — 20.02.2017</span>
            </h1>
            <div class="content__wrapper">
                <div class="content__status">Новая заявка</div>
                <div class="content__row">
                    <div class="content__row-block">
                        <div class="content__label">Тип отпуска</div>
                        <div class="content__line">Ежегодный</div>
                        <div class="content__line">пн 13.02 — пн 20.02.2017</div>
                        <div class="content__line">8 календарных дней</div>
                    </div>
                </div>
                <div class="content__row">
                    <div class="content__row-block">
                        <div class="content__label">Документы</div>
                        <ul class="content__upload-list">
                            <li><i class="icon-file-icon"></i> <span>some_file_name.pdf</span> 853 kB</li>
                            <li><i class="icon-file-icon"></i> <span>some_file_name.pdf</span> 853 kB</li>
                        </ul>
                    </div>
                </div>
                <div class="content__row">
                    <div class="content__row-block">
                        <div class="content__label">Комментарий автора заявки</div>
                        <div class="content__text">
                            Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                        </div>
                    </div>
                </div>
                <div class="content__row">
                    <div class="content__buttons">
                        <button class="btn btn-alt btn-round"><i class="icon-delete"></i></button>
                        <button class="btn btn-positive btn-round"><i class="icon-edit"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>