button {
  font-family: 'proximaNova';
  outline: none;
}
.btn {
  outline: none;
  border: 0;
  padding: 0 16px;
  height: 43px;
  text-transform: uppercase;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.07em;
  background: @btn-bg;
  color: @secondary-color;
  font-family: 'proximaNova';
}

.btn-def {
  color: @btn-def-color;
  background: @btn-def-bg;
  font-size: 16px;
  font-weight: bold;
}