@font-face {
  font-family: 'proximaNova';
  src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot');
  src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'),
  url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'),
  url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype'),
  url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximaNova';
  src: url('../fonts/mark_simonson_-_proxima_nova_light-webfont.eot');
  src: url('../fonts/mark_simonson_-_proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mark_simonson_-_proxima_nova_light-webfont.woff2') format('woff2'),
  url('../fonts/mark_simonson_-_proxima_nova_light-webfont.woff') format('woff'),
  url('../fonts/mark_simonson_-_proxima_nova_light-webfont.ttf') format('truetype'),
  url('../fonts/mark_simonson_-_proxima_nova_light-webfont.svg#proxima_nova_bdbold') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'proximaNova';
  src: url('../fonts/mark_simonson_-_proxima_nova_semibold-webfont.eot');
  src: url('../fonts/mark_simonson_-_proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff2') format('woff2'),
  url('../fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff') format('woff'),
  url('../fonts/mark_simonson_-_proxima_nova_semibold-webfont.ttf') format('truetype'),
  url('../fonts/mark_simonson_-_proxima_nova_semibold-webfont.svg#proxima_nova_sbsemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'proximaNova';
  src: url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.eot');
  src: url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff2') format('woff2'),
  url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'),
  url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype'),
  url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.svg#proxima_nova_ltlight') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?47r7tz');
  src:  url('../fonts/icomoon.eot?47r7tz#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?47r7tz') format('truetype'),
  url('../fonts/icomoon.woff?47r7tz') format('woff'),
  url('../fonts/icomoon.svg?47r7tz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e901";
}
.icon-checked:before {
  content: "\e900";
}