@body-bg: #f2f2f2;
@main-color: #1d1d1b;
@secondary-color: #52524d;
@link-color: #1478cc;

@theme-color: #ffcf00;
@border: #3f3e3e;
@main-shadow: 0 2px 4px 0 fade(#000, 16%);

@basic-size: 18px;
@radius: 3px;

@block-bg: #f2f2f2;

@error: #e5091a;
@esuccess: #417505;

@input-border: #babaae;
@input-bg: #fff;
@input-radius: 3px;

@select-bg: #fff;
@select-border: #babaae;

@btn-def-bg: #e5091a;
@btn-def-color: #fff;
@btn-bg: #fff;
@btn-shadow: 0 2px 4px 0 fade(#000, 16%);
@btn-shadow-hover: 0 5px 10px 0 fade(#000, 16%);

//header
@header-bg: #fff;

//navigation
@nav-border: #dfdfdf;
@nav-active-color: #1d1d1b;;
@nav-active-bg: #ffcf00;
@nav-counter-bg: #ff5252;
@nav-counter-color: #fff;
@nav-user-avatar-color: #7E6608;

//tooltip
@tooltip-bg: #fff;

//block
@block-bg: #fff;
@block-status-new: @theme-color;
@block-status-approved: #cdf229;
@block-status-decline: #f29595;

//footer

@footer-bg: #fff;


